
  
  h1 {
    text-color: dark blue;
    text-shadow: 2px 4px 3px rgba(0,0,0,0.3);
  }
  h2 + p {
  text-align: left;
  tetx-color: dark blue;
   text-shadow: 2px 4px 3px rgba(0,0,0,0.3);
  }
  body {
    background-color: orange;
    background:
       url(images/purpledot.png) left top repeat-y,
       url(images/purpledot.png) right top repeat-y;
  }
    a:link{
      color: #000000
      background-color:  #fff;
  }
    
    a:focus, a:hover {
  color: #4B0082;
  background-color: #fff;
}
a:active {
  color: #4B0082;
  background-color: #fff;
}
